<div id="principal" (contextmenu)="bloquearClickDerecho($event)">
  <div *ngIf="!loading" class="nav-logo">
    <mat-toolbar style="background-color: #005eb8;" color="primary">
      <img class="logo-navbar" src="../../../../assets/img/Logo-Horizontal.png" alt="Logo pablo tobon">
    </mat-toolbar>
  </div>
  <div style="width: 100%;">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
  </div>
  <div *ngIf="!loading" class="formLog">

    <div class="container"><!--style="margin-top: 250px;"-->
      <div class="heading2">Bienvenidos a</div>
      <div class="heading">HNS</div>
      <form action="" class="form">

        <div class="input-group">
          <div>
            <input required="" class="input" type="text" name="user" id="user" placeholder="Usuario*"
              [(ngModel)]="user.user" autocomplete="off">
            <input matInput required="" class="input" [type]="hide ? 'password' : 'text'" name="password" id="password"
              placeholder="Contraseña*" [(ngModel)]="user.password">
          </div>
          <div st>
            <button type="button" class="bticon" mat-icon-button matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </div>

        <button class="form login-button" type="submit" [disabled]="user.user === '' || user.password ===''"
          (click)="onLoging()" [ngClass]="{'disabled': user.user === '' || user.password ===''}">
          Ingresar
        </button>
        
      </form>
    </div>
  </div>

</div>

<!-- <div>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" class="custom-input ">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div> -->

<!-- <mat-form-field>
  <mat-label>Horizontal position</mat-label>
  <mat-select [(value)]="horizontalPosition">
    <mat-option value="start">Start</mat-option>
    <mat-option value="center">Center</mat-option>
    <mat-option value="end">End</mat-option>
    <mat-option value="left">Left</mat-option>
    <mat-option value="right">Right</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Vertical position</mat-label>
  <mat-select [(value)]="verticalPosition">
    <mat-option value="top">Top</mat-option>
    <mat-option value="bottom">Bottom</mat-option>
  </mat-select>
</mat-form-field> -->
<!-- 
<button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
  Pool party!
</button> -->